/* Ellie Teal Blue */
/* Ellie Mint */
/* Green */
/* Purple */
/* Red */
/* Light Mint */
/* Blue */
/* Defaults
--------------------------------------------- */
/*  Typographical Elements */
html {
  font-size: 62.5%;
  /* 10px browser default */
}
/* Chrome fix */
body > div {
  font-size: 18px;
}
body {
  background: #FFFFFF;
  color: #364952;
  font-family: "sofia-pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}
img {
  height: auto;
}
.lightbox {
  display: none;
}
.featherlight .featherlight-content {
  border-radius: 12px;
}
.featherlight .featherlight-content h2, .featherlight .featherlight-content h3 {
  color: #245970;
}
a, button, input:focus, input[type="button"], input[type="reset"], input[type="submit"], textarea:focus, .button, .gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a {
  color: #327d9b;
  text-decoration: none;
}
a:hover, a:focus {
  color: #C13EBA;
}
.more-link a, a.more-link {
  font-weight: 700;
  color: #245970;
}
.more-link a::after, a.more-link::after {
  content: " ";
  display: inline-block;
  height: 16px;
  width: 10px;
  -webkit-mask-image: url(assets/icons/chevron-right.svg);
  mask-image: url(assets/icons/chevron-right.svg);
  background-color: #245970;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: rotate(0deg);
  -webkit-transition: transform 0.25s ease-in-out 0s;
  -moz-transition: transform 0.25s ease-in-out 0s;
  -ms-transition: transform 0.25s ease-in-out 0s;
  -o-transition: transform 0.25s ease-in-out 0s;
  transition: transform 0.25s ease-in-out 0s;
  opacity: 1;
  position: relative;
  margin-left: 6px;
  top: 3px;
}
.more-link a:hover, a.more-link:hover {
  color: #0fe0d9;
}
.more-link a:hover::after, a.more-link:hover::after {
  background-color: #0fe0d9;
}
p {
  margin: 0 0 24px;
  padding: 0;
}
ol, ul {
  margin: 0 0 24px;
  padding: 0;
}
li {
  list-style-type: none;
}
.content-area ol, .featherlight-content ol {
  margin-left: 24px;
  margin-bottom: 24px;
}
.content-area ol > li, .featherlight-content ol > li {
  list-style-type: decimal;
  margin-bottom: 12px;
}
.content-area ul:not(.menu), .featherlight-content ul:not(.menu) {
  margin: 0 24px 0 0;
}
.content-area ul:not(.menu) li, .featherlight-content ul:not(.menu) li {
  list-style: none;
  margin-bottom: 24px;
  padding-left: 24px;
  position: relative;
}
.content-area ul:not(.menu) li::before, .featherlight-content ul:not(.menu) li::before {
  content: "";
  background: #cc61c7;
  width: 9px;
  height: 9px;
  border-radius: 6px;
  position: absolute;
  top: 9px;
  left: 0;
}
.content-area ul:not(.menu) li ul, .featherlight-content ul:not(.menu) li ul {
  flex-basis: 100%;
  margin-left: 36px;
}
.content-area ul:not(.menu) .has-white-color ul li::before, .featherlight-content ul:not(.menu) .has-white-color ul li::before {
  background: #FFFFFF;
}
hr.wp-block-separator {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  clear: both;
  margin: 48px 0;
}
b, strong {
  font-weight: 700;
}
cite, em, i {
  font-style: italic;
}
.clear {
  clear: both;
}
.site-inner .has-large-font-size {
  font-size: 22px;
  line-height: 1.4;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
}
.site-inner .has-small-font-size {
  font-size: 16px;
  line-height: 1.4;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
}
.site-inner .has-regular-font-size {
  font-size: 18px;
  line-height: 1.4;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
}
.site-inner .has-text-color.has-accent-1-color {
  color: #245970;
}
.site-inner .has-text-color.has-accent-2-color {
  color: #0fe0d9;
}
.site-inner .has-text-color.has-accent-3-color {
  color: #ced92b;
}
.site-inner .has-text-color.has-accent-4-color {
  color: #cc61c7;
}
.site-inner .has-text-color.has-accent-5-color {
  color: #ff6352;
}
.site-inner .has-text-color.has-accent-6-color {
  color: #a9fff8;
}
.site-inner .has-text-color.has-accent-7-color {
  color: #a9fff8;
}
.site-inner .has-text-color.has-white-color {
  color: #FFFFFF;
}
.site-inner .has-text-color.has-black-color {
  color: #364952;
}
.site-inner .has-text-color.has-purple-color {
  color: #BA8DBE;
}
.site-inner .has-text-color.has-blue-color {
  color: #D1F0FF !important;
}
.site-inner .nomargin {
  margin-bottom: 6px;
}
.site-inner .caps {
  text-transform: uppercase;
}
.site-inner .step a {
  display: inline-block;
  padding: 24px;
  border: 2px solid #0fe0d9;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  text-align: center;
  padding-top: 14px;
  color: #FFFFFF;
}
.site-inner .step a:hover {
  background-color: #0fe0d9;
  border-color: #0fe0d9;
  color: #FFFFFF;
}
/*  Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px;
}
h1, .has-h-1-font-size {
  font-family: "finalsix", sans-serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 1.3;
}
h2, .has-h-2-font-size {
  font-family: "finalsix", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
}
h3, .has-h-3-font-size {
  font-family: "finalsix", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3;
}
h4, .has-h-4-font-size {
  font-family: "finalsix", sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.3;
}
/*  Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 48px;
  width: 100%;
}
tbody {
  border-bottom: 1px solid #ddd;
}
td, .th {
  text-align: left;
}
td {
  border-top: 1px solid #ddd;
  padding: 6px 0;
}
th {
  font-weight: 400;
}
/*  Screen Reader Text */
.screen-reader-text, .screen-reader-text span, .screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  word-wrap: normal;
  background: #fff;
  color: #000;
}
.screen-reader-text:focus, .screen-reader-shortcut:focus, .nav-primary .menu .search input[type="submit"]:focus, .widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-weight: 700;
  padding: 15px 23px 14px;
  background: #fff;
  color: #000;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}
/* Skip Links */
.genesis-skip-link {
  margin: 0;
}
.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}
/* Do not display outline on focus */
:focus {
  color: #364952;
  outline: none;
}
/** Media Queries **/
@media only screen and (max-width: 1219px) {
  .content-area br {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .content-area .has-large-font-size {
    font-size: 22px;
    line-height: 1.4;
  }
  .content-area .has-small-font-size {
    font-size: 16px;
    line-height: 1.4;
  }
  .content-area .has-regular-font-size {
    font-size: 18px;
    line-height: 1.4;
  }
  .content-area h1, .content-area .has-h-1-font-size {
    font-size: 42px;
  }
  .content-area h2, .content-area .has-h-2-font-size {
    font-size: 32px;
  }
  .content-area h3, .content-area .has-h-3-font-size {
    font-size: 24px;
  }
  .content-area h4, .content-area .has-h-4-font-size {
    font-size: 22px;
  }
  .content-area .nomobile {
    display: none;
  }
  .content-area .center-mobile {
    text-align: center;
  }
}
/* Gutenberg 
--------------------------------------------- */
.site-inner {
  /** Background Colors **/
  /** Embed **/
  /** Buttons **/
  /** Columns **/
  /** Spacer **/
  /** Groups **/
  /** Covers **/
}
.site-inner .has-accent-1-background-color {
  background-color: #245970;
}
.site-inner .has-accent-2-background-color {
  background-color: #0fe0d9;
}
.site-inner .has-accent-2-background-color a {
  color: #245970;
}
.site-inner .has-accent-3-background-color {
  background-color: #ced92b;
}
.site-inner .has-accent-4-background-color {
  background-color: #cc61c7;
}
.site-inner .has-accent-5-background-color {
  background-color: #ff6352;
}
.site-inner .has-accent-6-background-color {
  background-color: #a9fff8;
}
.site-inner .has-accent-7-background-color {
  background-color: #327d9b;
}
.site-inner .has-black-background-color {
  background-color: #364952;
}
.site-inner .has-off-white-background-color {
  background-color: #FAFCFD;
}
.site-inner .has-grey-background-color {
  background-color: #F5FCFC;
}
.site-inner .wp-block-embed.is-type-video iframe {
  width: 100%;
  height: 440px;
}
.site-inner .wp-block-buttons {
  margin-bottom: 24px;
}
.site-inner .wp-block-buttons:where(.is-layout-flex) {
  gap: 18px;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link {
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  padding: 10.8px 48px 13.2px;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background: #245970;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link::after {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: " ";
  display: inline-block;
  height: 14px;
  width: 0;
  -webkit-mask-image: url(assets/icons/chevron-right.svg);
  mask-image: url(assets/icons/chevron-right.svg);
  background-color: #FFFFFF;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  opacity: 0;
  top: 2px;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-1-background-color {
  background-color: #245970;
  border-color: #245970;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-2-background-color {
  background-color: #0fe0d9;
  border-color: #0fe0d9;
  color: #245970;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-3-background-color {
  background-color: #ced92b;
  border-color: #ced92b;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-4-background-color {
  background-color: #C13EBA;
  border-color: #C13EBA;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-5-background-color {
  background-color: #245970;
  border-color: #245970;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-white-background-color {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-1-color {
  color: #245970;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-1-color:hover::after {
  background-color: #245970;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-2-color {
  color: #0fe0d9;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-2-color:hover::after {
  background-color: #0fe0d9;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-3-color {
  color: #A8C94B;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-3-color:hover::after {
  background-color: #A8C94B;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-4-color {
  color: #cc61c7;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-4-color:hover::after {
  background-color: #cc61c7;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-5-color {
  color: #ff6352;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-5-color:hover::after {
  background-color: #ff6352;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-6-color {
  color: #a9fff8;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link.has-accent-6-color:hover::after {
  background-color: #a9fff8;
}
.site-inner .wp-block-buttons .wp-block-button .wp-block-button__link:focus::after, .site-inner .wp-block-buttons .wp-block-button .wp-block-button__link:hover::after {
  opacity: 1;
  width: 14px;
  margin-left: 2px;
}
.site-inner .wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link {
  background: none;
  border: 2px solid #FFFFFF;
}
.site-inner .wp-block-image {
  margin-bottom: 24px;
}
.site-inner .wp-block-image.aligncenter {
  margin: 0 auto 24px;
}
.site-inner .wp-block-image.circle img {
  border-radius: 100%;
}
.site-inner .wp-block-image.nomargin {
  margin: 0;
}
.site-inner .wp-block-image img {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  top: 0;
}
.site-inner .wp-block-image a:hover img {
  top: -6px;
}
.site-inner .wp-block-image.down-arrow {
  margin: 48px 0 0;
}
.site-inner .wp-block-image.down-arrow a:hover img {
  top: 6px;
}
.site-inner .wp-block-quote {
  margin: 24px 0;
}
.site-inner .wp-block-quote.has-off-white-color {
  color: #FAFCFD;
}
.site-inner .wp-block-columns, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) {
  flex-wrap: nowrap;
  flex-basis: 100%;
  margin-bottom: 0;
  gap: 60px;
}
.site-inner .wp-block-columns.close, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).close {
  gap: 18px;
}
.site-inner .wp-block-columns.row-reverse, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).row-reverse {
  flex-direction: row-reverse;
}
.site-inner .wp-block-columns.page-layout, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).page-layout {
  gap: 96px;
}
.site-inner .wp-block-columns.page-layout .menu-shortcode, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).page-layout .menu-shortcode {
  border-left: 2px solid #ddd;
  padding-left: 30px;
  padding-bottom: 1px;
}
.site-inner .wp-block-columns.boxes, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).boxes {
  gap: 24px;
}
.site-inner .wp-block-columns.boxes .wp-block-column, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).boxes .wp-block-column {
  background: #FAFCFD;
  border: 2px solid #0fe0d9;
  padding: 24px 24px 12px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.site-inner .wp-block-columns.icon, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).icon {
  gap: 18px;
}
.site-inner .wp-block-columns.icon .wp-block-column:first-child, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).icon .wp-block-column:first-child {
  flex: 0 0 auto;
}
.site-inner .wp-block-columns.logos, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).logos {
  gap: 24px;
}
.site-inner .wp-block-columns.logos .wp-block-column, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).logos .wp-block-column {
  flex-basis: auto;
}
.site-inner .wp-block-columns.valign, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).valign {
  align-items: center !important;
}
.site-inner .wp-block-columns.steps, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps {
  margin: 48px auto;
  gap: 72px;
  position: relative;
}
.site-inner .wp-block-columns.steps::before, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps::before {
  content: "";
  height: 4px;
  background: #0fe0d9;
  position: absolute;
  width: 80%;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.site-inner .wp-block-columns.steps .wp-block-column, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps .wp-block-column {
  counter-increment: inst;
}
.site-inner .wp-block-columns.steps .wp-block-column::before, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps .wp-block-column::before {
  content: counter(inst);
  color: #0fe0d9;
  background: #245970;
  border-radius: 60px;
  border: 4px solid #0fe0d9;
  font-size: 36px;
  font-weight: 700;
  font-family: "finalsix", sans-serif;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  position: relative;
}
.site-inner .wp-block-columns .wp-block-column.valign, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.valign {
  display: flex;
  align-items: center;
}
.site-inner .wp-block-columns .wp-block-column.has-background, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background {
  padding: 48px 48px 24px;
  margin-bottom: 24px;
}
.site-inner .wp-block-columns .wp-block-column.has-background.match, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background.match {
  background-image: url("assets/images/puzzle.png");
  background-repeat: no-repeat;
  background-position: 10% 90%;
}
.site-inner .wp-block-columns .wp-block-column.has-background.couch, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background.couch {
  background-image: url("assets/images/couch.png");
  background-repeat: no-repeat;
  background-position: 10% 90%;
}
.site-inner .wp-block-columns .wp-block-column.has-background.heart, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background.heart {
  background-image: url("assets/images/heart.png");
  background-repeat: no-repeat;
  background-position: 10% 90%;
}
.site-inner .wp-block-columns .wp-block-column.has-background .wp-block-buttons .wp-block-button .wp-block-button__link, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background .wp-block-buttons .wp-block-button .wp-block-button__link {
  padding-left: 24px;
  padding-right: 24px;
}
.site-inner .wp-block-spacer {
  clear: both;
}
.site-inner .wp-block-group {
  margin-top: 72px;
  margin-bottom: 72px;
}
.site-inner .wp-block-group.has-background {
  margin: 0;
}
.site-inner .wp-block-group.has-background .wp-block-group__inner-container {
  padding: 72px 48px 48px;
}
.site-inner .wp-block-group.alignwide {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  clear: both;
}
.site-inner .wp-block-group.alignwide .wp-block-group__inner-container {
  padding: 0;
}
.site-inner .wp-block-group.alignwide .wp-block-group__inner-container .wp-block-columns .wp-block-group {
  margin: 0;
  float: left;
  width: 604px;
  max-width: 100%;
}
.site-inner .wp-block-group.alignwide .wp-block-group__inner-container .wp-block-columns .wp-block-group .wp-block-group__inner-container {
  padding: 48px 48px 24px 0;
}
.site-inner .wp-block-group.alignwide .wp-block-group__inner-container .wp-block-columns .wp-block-column:first-child .wp-block-group {
  float: right;
}
.site-inner .wp-block-group.alignwide .wp-block-group__inner-container .wp-block-columns .wp-block-column:first-child .wp-block-group__inner-container {
  padding-left: 48px;
  padding-right: 0;
}
.site-inner .wp-block-group.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  clear: both;
  overflow: hidden;
}
.site-inner .wp-block-group.alignfull .wp-block-group__inner-container {
  max-width: 1256px;
  padding: 72px 48px 48px;
  margin: 0 auto;
  position: relative;
}
.site-inner .wp-block-group.alignfull.no-padding-bottom .wp-block-group__inner-container {
  padding-bottom: 0;
}
.site-inner .wp-block-group.alignfull.narrow {
  max-width: none;
}
.site-inner .wp-block-group.alignfull.narrow .wp-block-group__inner-container {
  max-width: 1092px;
}
.site-inner .wp-block-group.alignfull.very-narrow {
  max-width: none;
}
.site-inner .wp-block-group.alignfull.very-narrow .wp-block-group__inner-container {
  max-width: 880px;
}
.site-inner .wp-block-group.alignfull.banner .wp-block-group__inner-container {
  padding-top: 48px;
  padding-bottom: 24px;
}
.site-inner .wp-block-group.alignfull.alert .wp-block-group__inner-container {
  padding-top: 24px;
  padding-bottom: 1px;
}
.site-inner .wp-block-group.alignfull.form {
  background: #f3f3fe;
}
.site-inner .wp-block-group.alignfull.form .wp-block-group__inner-container {
  padding: 0;
}
.site-inner .wp-block-group.alignfull.join-the-team .wp-block-group__inner-container {
  position: relative;
}
.site-inner .wp-block-group.alignfull.join-the-team .wp-block-group__inner-container::before {
  content: "JOIN THE TEAM";
  position: absolute;
  bottom: 24px;
  left: -90px;
  color: rgba(255, 255, 255, 0.15);
  line-height: 1;
  font-size: 108px;
  font-weight: 700;
}
.site-inner .wp-block-group.alignfull:first-child:not(.home-header):not(.alert):not(#anchor-menu) .wp-block-group__inner-container {
  background: url("assets/images/bg-page-header.png") no-repeat 100% 50%;
  padding-top: 108px;
  padding-right: 240px;
  padding-bottom: 36px;
}
.site-inner .wp-block-group.alignfull:first-child:not(.home-header):not(.alert):not(#anchor-menu) .wp-block-group__inner-container h1, .site-inner .wp-block-group.alignfull:first-child:not(.home-header):not(.alert):not(#anchor-menu) .wp-block-group__inner-container p.has-h-1-font-size {
  margin-bottom: 6px;
}
.site-inner .wp-block-group.alignfull:first-child:not(.home-header):not(.alert):not(#anchor-menu) .wp-block-group__inner-container h1.has-large-font-size, .site-inner .wp-block-group.alignfull:first-child:not(.home-header):not(.alert):not(#anchor-menu) .wp-block-group__inner-container p.has-large-font-size {
  margin: 0;
  font-family: "sofia-pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.site-inner .wp-block-group.alignfull.landing-page-header {
  background-image: url("assets/images/bg-landing-page-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 548px;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group {
  margin: 0;
  max-width: 56%;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
  padding: 48px 0 48px;
  position: relative;
  z-index: 9;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container h1, .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container .has-h-1-font-size {
  font-size: 55px;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-image {
  margin: 0;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-image img {
  position: absolute;
  top: auto;
  bottom: 0;
  right: -60px;
  margin: 0;
  max-width: none;
}
.site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .has-h-1-font-size em {
  font-family: "Cambon";
  font-style: italic;
  font-weight: bold;
  display: block;
}
.site-inner .wp-block-group.home-header {
  background-image: url("assets/images/bg-home-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.site-inner .wp-block-group.home-header .wp-block-group__inner-container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
.site-inner .wp-block-group.home-header .wp-block-group__inner-container .wp-block-group {
  margin: 0;
}
.site-inner .wp-block-group.home-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
  padding: 72px 0 108px;
  position: relative;
  z-index: 9;
}
.site-inner .wp-block-group.home-header .wp-block-group__inner-container .wp-block-image {
  margin: 0;
}
.site-inner .wp-block-group.home-header .wp-block-group__inner-container .wp-block-image img {
  position: absolute;
  top: 0;
  right: -96px;
  height: 100%;
  width: auto;
  margin: 0;
  max-width: none;
}
.site-inner .wp-block-group.home-header .wp-block-group__inner-container .has-h-1-font-size em {
  font-family: "Cambon";
  font-style: italic;
  font-weight: bold;
  display: block;
}
.site-inner .wp-block-group.freaking .wp-block-group__inner-container {
  padding-top: 24px;
  padding-left: 0;
  padding-bottom: 0;
  max-width: 1440px;
}
.site-inner .wp-block-group.freaking .wp-block-group__inner-container .wp-block-image {
  margin: 0;
}
.site-inner .wp-block-group.mint-rainbow {
  background-image: url("assets/images/bg-mint-rainbow.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.site-inner .wp-block-group.mint-rainbow-left {
  background-image: url("assets/images/bg-mint-rainbow-left.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.site-inner .wp-block-group.triangle-top-left {
  position: relative;
}
.site-inner .wp-block-group.triangle-top-left::before {
  content: "";
  background-image: url("assets/images/bg-triangle.png");
  display: block;
  width: 258px;
  height: 258px;
  top: 0;
  left: 0;
  position: absolute;
}
.site-inner .wp-block-group.circle-right {
  position: relative;
}
.site-inner .wp-block-group.circle-right::before {
  content: "";
  background-image: url("assets/images/bg-circle.png");
  display: block;
  width: 507px;
  height: 253px;
  top: 0;
  right: 0;
  position: absolute;
}
.site-inner .wp-block-group.join-team .wp-block-group__inner-container {
  position: relative;
}
.site-inner .wp-block-group.join-team .wp-block-group__inner-container::before {
  content: "JOIN THE TEAM";
  position: absolute;
  bottom: -6px;
  left: -120px;
  color: rgba(255, 255, 255, 0.15);
  line-height: 1;
  font-size: 108px;
  font-weight: 700;
}
.site-inner .wp-block-group.shop .wp-block-group__inner-container {
  padding-top: 24px;
  padding-bottom: 0 !important;
}
.site-inner .wp-block-group.shop .wp-block-group__inner-container .wp-block-columns {
  align-items: center !important;
}
.site-inner .wp-block-group.shop .wp-block-group__inner-container .wp-block-image {
  margin: 0;
}
.site-inner .wp-block-group .wp-block-group.has-background {
  border-radius: 12px;
  margin: 24px auto;
}
.site-inner .wp-block-group .wp-block-group.has-background .wp-block-group__inner-container {
  padding: 48px 48px 24px;
}
.site-inner .wp-block-cover.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  clear: both;
  padding: 0;
}
.site-inner .wp-block-cover.alignfull .wp-block-cover__inner-container {
  max-width: 1256px;
  padding: 48px;
  margin: 0 auto;
}
.site-inner .wp-block-cover.alignfull.narrow {
  max-width: none;
}
.site-inner .wp-block-cover.alignfull.narrow .wp-block-cover__inner-container {
  max-width: 1092px;
}
.site-inner .wp-block-cover.alignfull.very-narrow {
  max-width: none;
}
.site-inner .wp-block-cover.alignfull.very-narrow .wp-block-cover__inner-container {
  max-width: 880px;
}
/** Media Queries **/
@media only screen and (max-width: 1219px) {
  .site-inner .wp-block-group.home-header .wp-block-group__inner-container .wp-block-image img {
    right: -15%;
  }
}
@media only screen and (max-width: 1023px) {
  .site-inner .wp-block-spacer {
    display: none;
    height: 0 !important;
  }
  .site-inner .wp-block-columns, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) {
    gap: 24px;
  }
  .site-inner .wp-block-columns.page-layout, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).page-layout {
    display: block;
  }
  .site-inner .wp-block-columns.page-layout .menu-shortcode, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).page-layout .menu-shortcode {
    border-left: none;
    padding-left: 0;
    margin-top: 48px;
  }
  .site-inner .wp-block-columns .wp-block-column.has-background, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background {
    padding: 24px 24px 1px;
  }
  .site-inner .wp-block-columns .wp-block-column.has-background.match, .site-inner .wp-block-columns .wp-block-column.has-background.couch, .site-inner .wp-block-columns .wp-block-column.has-background.heart, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background.match, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background.couch, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) .wp-block-column.has-background.heart {
    background-position: 10% 95%;
    padding-bottom: 48px;
  }
  .site-inner .wp-block-group {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .site-inner .wp-block-group.has-background .wp-block-group__inner-container, .site-inner .wp-block-group.has-background .has-background .wp-block-group__inner-container {
    padding: 24px 24px 1px;
  }
  .site-inner .wp-block-group.alignfull .wp-block-group__inner-container {
    padding: 48px 24px 24px;
  }
  .site-inner .wp-block-group.alignfull:first-child .wp-block-group__inner-container {
    background-position: 100% 100%;
  }
  .site-inner .wp-block-group.alignfull.shop .wp-block-group__inner-container .wp-block-columns {
    align-items: flex-end !important;
  }
  .site-inner .wp-block-group.alignfull:first-child:not(.home-header) .wp-block-group__inner-container {
    background-position: bottom right;
  }
  .site-inner .wp-block-group.alignfull.home-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
    padding: 0;
  }
  .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container {
    min-height: 0;
  }
  .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group {
    max-width: 100%;
  }
  .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
    padding: 48px 0 24px;
  }
  .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-image {
    display: none;
  }
  .site-inner .wp-block-group.alignfull.freaking .wp-block-group__inner-container {
    padding-top: 24px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .site-inner .wp-block-group.alignfull.freaking .wp-block-group__inner-container .wp-block-columns {
    align-items: flex-end !important;
  }
  .site-inner .wp-block-group.alignfull.alignwide .wp-block-group__inner-container {
    padding: 0;
  }
  .site-inner .wp-block-group.alignfull.alignwide .wp-block-group__inner-container .wp-block-columns .wp-block-column:first-child .wp-block-group__inner-container {
    padding: 24px 0 24px 24px;
  }
  .site-inner .wp-block-group.triangle-top-left::before {
    background: none;
    width: 0;
    height: 0;
  }
  .site-inner .wp-block-cover.alignfull .wp-block-cover__inner-container {
    padding: 24px;
  }
  .site-inner .wp-block-spacer {
    height: 24px !important;
  }
}
@media only screen and (max-width: 899px) {
  .site-inner .wp-block-group.alignfull.home-header {
    background-image: none;
  }
  .site-inner .wp-block-group.alignfull.home-header .wp-block-group__inner-container {
    padding: 18px;
  }
  .site-inner .wp-block-group.alignfull.home-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
    background: rgba(255, 255, 255, 0.5);
    padding: 24px 24px 1px;
  }
}
@media only screen and (max-width: 767px) {
  .site-inner .wp-block-buttons .wp-block-button .wp-block-button__link {
    padding-left: 24px;
    padding-right: 24px;
  }
  .site-inner .wp-block-columns, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile) {
    display: block;
  }
  .site-inner .wp-block-columns.icon, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).icon {
    display: flex;
    flex-wrap: nowrap !important;
    align-items: flex-start !important;
  }
  .site-inner .wp-block-columns.icon .wp-block-column, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).icon .wp-block-column {
    flex-basis: auto !important;
  }
  .site-inner .wp-block-columns.steps, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps {
    margin: 0;
  }
  .site-inner .wp-block-columns.steps::before, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps::before {
    content: "";
    height: 0;
    width: 0;
  }
  .site-inner .wp-block-columns.steps .wp-block-column, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps .wp-block-column {
    margin-top: 30px;
  }
  .site-inner .wp-block-columns.steps .wp-block-column::before, .site-inner .wp-block-columns:not(.is-not-stacked-on-mobile).steps .wp-block-column::before {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-bottom: 18px;
  }
  .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container h1, .site-inner .wp-block-group.alignfull.landing-page-header .wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container .has-h-1-font-size {
    font-size: 42px;
  }
  .site-inner .wp-block-group.alignfull.freaking .wp-block-group__inner-container {
    padding-top: 24px;
    padding-left: 24px;
  }
  .site-inner .wp-block-group.alignfull.freaking .wp-block-group__inner-container .wp-block-image {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 419px) {
  .site-inner .wp-block-group.alignfull:first-child:not(.home-header):not(.alert):not(#anchor-menu) .wp-block-group__inner-container {
    background-position: 220% 50%;
    padding-right: 24px;
  }
  .site-inner .wp-block-group.alignfull.home-header .wp-block-group__inner-container .wp-block-image img {
    right: -90%;
  }
}
/* Custom Blocks 
--------------------------------------------- */
.alerts-carousel {
  margin-bottom: 24px;
}
.alerts-carousel .slick-track {
  display: flex;
  align-items: center;
}
.alerts-carousel > * {
  text-align: center;
  color: #245970;
  font-size: 20px;
}
.alerts-carousel a {
  color: #245970;
}
.alerts-carousel p:last-child {
  margin: 0;
}
.has-background .services-carousel {
  color: #FFFFFF;
}
.services-carousel {
  margin: 48px 0 0;
}
.services-carousel .wp-block-columns {
  gap: 72px;
}
.services-carousel h3 {
  margin-top: 24px;
}
.video-block {
  margin: 48px auto;
}
.video-block a {
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  top: 0;
}
.video-block img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
.video-block .player {
  position: absolute;
  bottom: 18px;
  right: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  opacity: 0.9;
}
.video-block .player .svg-icon {
  display: block;
  margin: 0 auto 6px;
  fill: #FFFFFF;
}
.video-block a:hover {
  top: -6px;
}
.video-block a:hover .player {
  opacity: 1;
}
.video-block.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  clear: both;
  overflow: hidden;
}
.video-block.alignfull img {
  border-radius: 0;
  width: 100%;
  height: auto;
}
.blog-block .post-container .entry {
  width: calc(33.3333% - 24px);
}
.carousel-wrapper {
  position: relative;
}
.carousel-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  background: none;
  padding: 0;
  height: 24px;
  width: 24px;
  opacity: 0.4;
}
.carousel-wrapper .slick-arrow:hover {
  opacity: 1;
}
.carousel-wrapper .slick-arrow.slick-prev {
  left: -48px;
}
.carousel-wrapper .slick-arrow.slick-next {
  right: -48px;
}
.carousel-wrapper .slick-arrow .svg-icon {
  fill: #FFFFFF;
}
.carousel-wrapper .slick-arrow span {
  display: block;
  text-indent: -9999px;
  height: 0;
  width: 0;
}
.has-accent-6-background-color .carousel-wrapper .slick-arrow .svg-icon, .has-white-background-color .carousel-wrapper .slick-arrow .svg-icon, .has-accent-2-background-color .carousel-wrapper .slick-arrow .svg-icon {
  fill: #245970;
}
.slick-dots {
  text-align: center;
  margin: 48px auto 0 !important;
  width: 100%;
}
.slick-dots li {
  display: inline-block !important;
  margin: 0 6px !important;
  padding: 0 !important;
}
.slick-dots li:only-child {
  display: none;
}
.slick-dots li:before {
  width: 0 !important;
  height: 0 !important;
  background: none;
  display: none;
}
.slick-dots button {
  padding: 0;
  font-size: 0;
  width: 18px;
  height: 18px;
  background: #245970;
  border: none;
  border-radius: 100%;
  display: block;
  opacity: 0.8;
}
.slick-dots button:hover, .slick-dots li.slick-active button {
  opacity: 1;
}
.slick-title-dots ul.slick-dots {
  display: flex;
  max-width: 767px;
  margin: 0 auto;
  justify-content: center;
}
.slick-title-dots ul.slick-dots li {
  display: block !important;
  margin: 0 24px !important;
}
.slick-title-dots ul.slick-dots li button {
  padding: 0;
  margin: 0 auto;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  width: auto;
  height: auto;
  border-radius: 0;
  font-weight: 400;
  color: #a9fff8;
}
.slick-title-dots ul.slick-dots li button::before {
  display: block;
  font-size: 18px;
}
.slick-title-dots ul.slick-dots li.slick-active button, .slick-title-dots ul.slick-dots li button:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.video-carousel {
  margin: 48px auto 24px !important;
}
.video-carousel .video-block {
  margin: 0;
  text-align: center;
}
.video-carousel .video-block .player {
  z-index: 9;
}
.video-carousel .video-block .player .svg-icon {
  width: 60px;
  height: auto;
}
.video-carousel .slick-track {
  display: flex;
  gap: 48px;
}
.video-carousel .slick-dots button {
  background: #245970;
  border-color: #245970;
  opacity: 0.8;
}
.video-carousel .slick-dots button:hover, .video-carousel .slick-dots li.slick-active button {
  opacity: 1;
}
.reviews-carousel {
  margin: 48px 0 0;
  position: relative;
  z-index: 12;
}
.reviews-carousel .slick-list {
  overflow: visible;
}
.reviews-carousel .slick-track {
  display: flex;
  gap: 48px;
}
.reviews-carousel .review {
  background: #FFFFFF;
  height: auto;
}
.reviews-carousel .therapist {
  background: #0fe0d9;
  color: #245970;
  font-weight: 700;
  padding: 6px 36px;
}
.reviews-carousel blockquote {
  margin: 0;
  padding: 24px 24px 36px;
}
.reviews-carousel blockquote::before {
  content: " ";
  display: block;
  height: 27px;
  width: 36px;
  -webkit-mask-image: url(assets/images/quote.svg);
  mask-image: url(assets/images/quote.svg);
  background-color: #ff6352;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  margin-bottom: 24px;
}
.reviews-carousel blockquote cite {
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.reviews-carousel .review:nth-child(3n-1) blockquote::before {
  background-color: #87B8CE;
}
.reviews-carousel .review:nth-child(3n) blockquote::before {
  background-color: #BCD576;
}
.link-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
.link-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 6px);
  text-align: center;
  background: #a9fff8;
  border: 2px solid #a9fff8;
  color: #245970;
  border-radius: 6px;
  padding: 24px 18px;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.link-boxes .box:hover {
  border-color: #245970 !important;
}
.link-boxes .box:hover h3::after {
  opacity: 1;
  width: 14px;
}
.link-boxes .box h3 {
  font-size: 18px;
  font-family: "sofia-pro", sans-serif;
  margin: 0;
}
.link-boxes .box h3::after {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: " ";
  display: inline-block;
  height: 18px;
  width: 0;
  -webkit-mask-image: url(assets/icons/chevron-right.svg);
  mask-image: url(assets/icons/chevron-right.svg);
  background-color: #245970;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: absolute;
  opacity: 0;
  margin-top: 3px;
  margin-left: 6px;
}
.link-boxes .box:last-child:nth-child(2n+1) {
  width: 100%;
}
.link-boxes .box p {
  margin: 18px 0 0;
  font-size: 16px;
}
.link-boxes .box p::before {
  content: "";
  width: 40px;
  height: 2px;
  background: #0fe0d9;
  display: block;
  margin: 0 auto 12px;
}
.link-boxes.anchors .box {
  width: calc(25% - 18px);
  background: #245970;
  color: #FFFFFF;
  position: relative;
  border-width: 2px;
  padding-left: 18px;
  padding-right: 18px;
}
.link-boxes.anchors .box:first-child, .link-boxes.anchors .box:nth-child(4n+1) {
  border-color: #ced92b;
}
.link-boxes.anchors .box:nth-child(2), .link-boxes.anchors .box:nth-child(4n+2) {
  border-color: #ff6352;
}
.link-boxes.anchors .box:nth-child(3), .link-boxes.anchors .box:nth-child(4n+3) {
  border-color: #BF8EC0;
}
.link-boxes.anchors .box:nth-child(4), .link-boxes.anchors .box:nth-child(4n+4) {
  border-color: #E4ECF8;
}
.link-boxes.col-3 .box, .link-boxes.col-3 .box:last-child:nth-child(2n+1) {
  width: calc(33.3333% - 8px);
}
.link-boxes.col-4 .box, .link-boxes.col-4 .box:last-child:nth-child(2n+1) {
  width: calc(25% - 9px);
}
.people-block {
  margin: 48px auto;
}
.people-block .post-container {
  gap: 72px;
  justify-content: center;
}
.people-block .post-container .people.entry {
  width: calc(25% - 54px);
}
.people-block .post-container a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  top: 0;
}
.people-block .post-container a:hover {
  top: -6px;
}
.single-person {
  margin: 48px auto;
  border: 4px solid #0fe0d9;
  border-radius: 12px;
  max-width: 880px;
}
.single-person .entry {
  text-align: left;
}
.single-person .wp-block-group__inner-container {
  padding: 30px !important;
}
.single-person .entry-header {
  display: flex;
  gap: 48px;
}
.single-person .post-link {
  flex: 0 0 auto;
}
.single-person img {
  border-radius: 12px;
  display: block;
  margin: 0;
  width: 300px;
}
.single-person h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.single-person p {
  margin: 0;
}
.has-accent-1-background-color .news-block .post-container .entry a, .has-accent-1-background-color .news-block .post-container .entry a h2.entry-title, .has-accent-4-background-color .news-block .post-container .entry a, .has-accent-4-background-color .news-block .post-container .entry a h2.entry-title, .has-accent-6-background-color .news-block .post-container .entry a, .has-accent-6-background-color .news-block .post-container .entry a h2.entry-title, .has-black-background-color .news-block .post-container .entry a, .has-black-background-color .news-block .post-container .entry a h2.entry-title {
  color: #FFFFFF;
}
.coming-soon-map {
  height: 720px;
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  clear: both;
}
.coming-soon-locations .locations {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}
.coming-soon-locations button.stateToggle {
  font-size: 22px;
  font-weight: 400;
  padding: 12px 24px 12px 36px;
  color: #245970;
  margin: 24px 0 0;
  width: 100%;
  background: none;
  text-align: left;
  border: 2px solid #245970;
  position: relative;
}
.coming-soon-locations button.stateToggle:first-child {
  margin-top: 0;
}
.coming-soon-locations button.stateToggle::before {
  content: " ";
  display: inline-block;
  height: 15px;
  width: 15px;
  -webkit-mask-image: url(assets/icons/triangle.svg);
  mask-image: url(assets/icons/triangle.svg);
  background-color: #245970;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: rotate(90deg);
  -webkit-transition: transform 0.25s ease-in-out 0s;
  -moz-transition: transform 0.25s ease-in-out 0s;
  -ms-transition: transform 0.25s ease-in-out 0s;
  -o-transition: transform 0.25s ease-in-out 0s;
  transition: transform 0.25s ease-in-out 0s;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  margin-right: 6px;
}
.coming-soon-locations button.stateToggle.activated::before {
  transform: rotate(180deg);
}
.coming-soon-locations .coming-location {
  width: calc(33.3333% - 16px);
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 24px;
  border-radius: 6px;
}
.coming-soon-locations .coming-location .marker {
  margin-bottom: 12px;
  font-size: 14px;
  color: #7C7C7C;
  margin-bottom: 6px;
}
.coming-soon-locations .coming-location .marker .svg-icon {
  fill: #245970;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.coming-soon-locations .coming-location h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #245970;
}
.coming-soon-locations .coming-location p {
  margin: 0;
}
.coming-soon-locations .coming-location p:last-child {
  margin: 18px 0 0;
}
.minnesota-map {
  height: 540px;
}
.lightbox-block ul {
  column-count: 2;
  gap: 24px;
  margin: 24px !important;
}
.home-collage {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.home-collage .column-1 {
  width: calc(25% - 12px);
  background: #245970;
}
.home-collage .column-2 {
  width: calc(75% - 12px);
}
.home-collage .row-1, .home-collage .row-2 {
  display: flex;
  gap: 12px;
}
.home-collage .row-1 {
  margin-bottom: 12px;
}
.home-collage .row-2 .block-4 {
  width: calc(45% - 6px);
}
.home-collage .row-2 .block-5 {
  width: calc(55% - 6px);
}
.home-collage .block-1 {
  background: #0fe0d9;
}
.home-collage .block-2 {
  display: flex;
  background: #ced92b;
  height: 252px;
  overflow: hidden;
}
.home-collage .block-3 {
  display: flex;
  background: #ff6352;
  flex-direction: row-reverse;
  height: 252px;
  overflow: hidden;
}
.home-collage .block-4 {
  display: flex;
  background: #cc61c7;
  flex-direction: row-reverse;
  height: 304px;
  overflow: hidden;
}
.home-collage .block-5 {
  display: flex;
  background: #245970;
  height: 304px;
  align-items: center;
  justify-content: center;
}
.home-collage .block-5 .text {
  font-size: 46px;
  color: #0fe0d9;
  display: block;
  padding: 24px;
}
.home-collage .block-5 .text em {
  font-family: "Cambon";
  font-style: italic;
  font-weight: bold;
  color: #FFFFFF;
}
.home-collage .text {
  background: #245970;
  color: #FFFFFF;
  font-family: "finalsix", sans-serif;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 24px;
  flex: 1;
}
.home-collage .image {
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
}
.home-collage .image img {
  display: block;
}
/** Media Queries **/
@media only screen and (max-width: 1023px) {
  .people-block {
    margin: 24px auto;
  }
  .people-block .post-container {
    gap: 24px;
  }
  .people-block .post-container .people.entry {
    width: calc(25% - 18px);
  }
  .blog-block .post-container .entry {
    width: calc(33.3333% - 18px);
  }
  .reviews-carousel .slick-track {
    gap: 24px;
  }
  .single-person {
    margin: 24px auto;
  }
  .single-person .wp-block-group__inner-container {
    padding: 24px !important;
  }
  .single-person .wp-block-group__inner-container .entry-header {
    align-items: normal;
  }
  .single-person .wp-block-group__inner-container .entry-header img {
    margin: 0 auto;
  }
  .video-block .player span {
    display: none;
  }
  .carousel-wrapper .slick-arrow.slick-prev {
    left: -24px;
  }
  .carousel-wrapper .slick-arrow.slick-next {
    right: -24px;
  }
  .home-collage {
    display: block;
  }
  .home-collage .column-1 {
    margin-bottom: 12px;
    width: 100%;
  }
  .home-collage .column-2 {
    width: 100%;
  }
  .home-collage .block-1 {
    display: flex;
    justify-content: flex-end;
  }
  .home-collage .block-2 {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 767px) {
  .people-block {
    margin: 24px auto;
  }
  .people-block .post-container {
    display: flex;
  }
  .people-block .post-container .people.entry {
    width: calc(50% - 12px);
  }
  .blog-block .post-container {
    display: block;
  }
  .blog-block .post-container .entry {
    width: 100%;
  }
  .link-boxes {
    display: block;
    margin: 24px auto;
  }
  .link-boxes .box {
    width: 100%;
    margin-bottom: 24px;
  }
  .link-boxes.anchors .box {
    width: 100%;
    margin-bottom: 24px;
  }
  .link-boxes.col-3 .box, .link-boxes.col-3 .box:last-child:nth-child(2n+1), .link-boxes.col-4 .box, .link-boxes.col-4 .box:last-child:nth-child(2n+1) {
    width: 100%;
  }
  .coming-soon-map {
    height: 200px;
  }
  .coming-soon-locations .locations {
    display: block;
  }
  .coming-soon-locations .coming-location {
    width: 100%;
    margin-bottom: 24px;
  }
  .single-person .wp-block-group__inner-container .entry-header {
    display: block;
    text-align: center;
  }
  .single-person .wp-block-group__inner-container .entry-header img {
    margin-bottom: 24px;
  }
  .single-person .wp-block-group__inner-container .entry-header .inner .excerpt {
    display: none;
  }
  .lightbox-block ul {
    column-count: 1;
    margin: 0 !important;
  }
  .video-carousel {
    margin: 24px auto 24px !important;
  }
  .video-carousel .slick-track {
    display: block;
  }
  .slick-title-dots {
    display: none;
  }
  .home-collage {
    display: block;
    margin-top: -24px;
    margin-bottom: 0;
  }
  .home-collage .block-1, .home-collage .block-2, .home-collage .block-3, .home-collage .block-4, .home-collage .block-5 {
    display: flex;
    margin-bottom: 12px;
    height: auto;
    width: 100% !important;
    align-content: flex-end;
  }
  .home-collage .block-1 .text, .home-collage .block-2 .text, .home-collage .block-3 .text, .home-collage .block-4 .text, .home-collage .block-5 .text {
    padding: 18px;
    font-size: 24px;
  }
  .home-collage .block-1 .image {
    flex: 1;
  }
  .home-collage .block-2, .home-collage .block-4 {
    flex-direction: row;
  }
  .home-collage .block-5 .text {
    font-size: 32px;
    padding-bottom: 6px;
  }
  .home-collage .column-2 .row-1, .home-collage .column-2 .row-2 {
    display: block;
  }
}
/* Editor Styles
--------------------------------------------- */
.editor-block-list__layout {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.wp-block {
  max-width: 100%;
}
.editor-post-title__block .editor-post-title__input {
  font-weight: 700;
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
}
/* Panels
--------------------------------------------- */
.wp-block-group, .wp-cover, .page-intro-block {
  margin: 0 auto;
  max-width: 100%;
  width: 100% !important;
  padding: 0 24px;
  border: 1px solid #ddd;
  background-size: cover;
}
.wp-block-group .wp-block-group__inner-container {
  max-width: 100%;
  padding: 48px 0;
}
ul.wp-block-list, ol.wp-block-list {
  margin: 0 0 24px 24px;
}
ul.wp-block-list ul, ul.wp-block-list ol, ol.wp-block-list ul, ol.wp-block-list ol {
  margin: 0 0 24px 48px;
}
ul.wp-block-list li {
  list-style: disc;
}
ol.wp-block-list li {
  list-style: decimal;
}
/* Columns
--------------------------------------------- */
.wp-block-column {
  border: 1px solid #ddd;
}
/* Buttons
--------------------------------------------- */
.wp-block-button__link {
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  padding: 10.8px 48px 13.2px;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background: #245970;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.wp-block-button__link::after {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  content: " ";
  display: inline-block;
  height: 14px;
  width: 0;
  -webkit-mask-image: url(assets/icons/chevron-right.svg);
  mask-image: url(assets/icons/chevron-right.svg);
  background-color: #FFFFFF;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  opacity: 0;
  top: 2px;
}
/* Lists */
#tinymce ul, #tinymce ol {
  margin-left: 24px;
}
#tinymce ul li {
  list-style: disc;
}
#tinymce ol li {
  list-style: n;
}
